

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<mat-toolbar color="primary">
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
      <mat-menu #menu="matMenu">
        <a routerLink="/table"> <button mat-menu-item>User table Chang</button></a>
       <a routerLink="/editpersonal"> <button mat-menu-item>Edit personal information</button></a>
      </mat-menu>
     
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  <a routerLink="/dashboard" >
    <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
      <mat-icon>home</mat-icon>
    </button>
  </a>
   
    <a routerLink="/login">
        <button class="right" mat-icon-button class="material-symbols-outlined">
            <span>
                logout
            </span>
            </button>
    </a>
 
    </mat-toolbar>

<router-outlet></router-outlet>
