<body class="bodycenter">
    <mat-card>
        <mat-card-content>
            
            <form class="example-form" >
                <mat-form-field class="full-width-field">
                  <mat-label>Username</mat-label>
                  <input matInput>
                </mat-form-field>

                <mat-form-field class="full-width-field">
                    <mat-label>Name</mat-label>
                    <input matInput>
                  </mat-form-field>

                <mat-form-field class="full-width-field">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput>
                  </mat-form-field>

                  <mat-form-field class="full-width-field">
                    <mat-label>Email</mat-label>
                    <input matInput>
                  </mat-form-field>

                  <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1">male</mat-radio-button>
                    <mat-radio-button value="2">Female</mat-radio-button>
                  </mat-radio-group>
                  

              <div class="center-parent">
    
                <a routerLink="/login" mat-raised-button color="primary">Submit</a>
                <a  routerLink="/login" mat-raised-button color="accent">Back to Login</a>
    
              </div>
              </form>
              
        </mat-card-content>
      </mat-card>
    </body >
     
      